*{
	font-family: 'PT Sans', sans-serif;
	background-color: white;
}

h1.Title{
	width: 25%;
	margin-top: 15%;
	font-size: 150%;
}

#{
	text-align: center;
}
.Portfolio{
	background-color: #203248;
	padding-bottom: 80px;
	padding-right: 80px;
	position:absolute;
	left:0;
	right:0;

}